.hero {
  height: 75vh;
  width: 100%;
  min-width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: row;
  padding-top: 1em;
  padding-bottom: 1em;
  align-items: center;

  color: white;
}

.hero-header {
  margin: auto 15vw;
}

.hero-header h1 {
  font-weight: 300;
}

.hero-header h2 {
  font-weight: 300;
}

.hero-header button {
  background-color: #47e4c2;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 24px;
  transition: background-color 0.3s ease-in;
}

.hero-header button:hover,
button:active {
  background-color: #2ae1e4;
}

@media screen and (max-width: 1920px) and (max-height: 1080px) {
  .hero {
    background-image: url("../../assets/photo-couch.jpg");
  }
}

@media screen and (min-width: 1921px) and (min-height: 1081px) {
  .hero {
    background-image: url("../../assets/photo-couch_2x.jpg");
  }
}
