.how-it-works {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom: 10vh;
  padding-top: 2em;
  text-align: center;
}

.how-it-works h2 {
  font-weight: 300;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.how-it-works-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.how-it-works-item {
  flex: 1 100%;
  display: flex;
  padding: 0.5em;
  width: 100%;
}

.how-it-works-item hr {
  border: none;
  border-top: 1px solid;
  margin: 1em 15%;
}

.how-it-works-content .step-number {
  display: inline-block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.how-it-works-content .step-number:after {
  content: "";
  display: block;
  border-top: 6px solid #47e4c2;
  margin-top: 0.5em;
}

.how-it-works-content .step-title {
  text-transform: uppercase;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

/* picked a random size larger than a mobile device */
@media all and (min-width: 801px) {
  .how-it-works-item {
    flex: 1;
  }
  .how-it-works h2 {
    font-size: 2em;
  }
}
