@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

body,
html {
  height: 100%;
  font-family: "Lato", sans-serif;
}

.app {
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
